* {
    margin:0px;
	padding:0px;
	border:0px;	
}

body {
    font-family:宋体,Arial, Helvetica, sans-serif;
	background:url(../img/user_bg.gif);
	font-size:14px;	
}

a {
	color:#000;
    text-decoration:none;	
}

a:hover {
    color:#0C3;	
}

ul {
    list-style:none;	
}

#wrap {
    width:980px;
	margin:0 auto;	
}


/* ---------------------- 头部导航条开始 ---------------------- */
#header {
	margin-top:10px;
    width:980px;
	height:170px;
}

#header .logo_bg {
	width:980px;
	height:101px;
	padding-top:20px;
    background:url(../img/header_bg.jpg);	
}

#header .logo_bg h1 {
    color:#03F;
	margin-top:40px;
	margin-left:50px;	
}

#header .logo_bg .logo {
    float:right;
	margin-top:-70px;
	margin-right:5px;	
}

#header .blue #slatenav{
	position:relative;
    display:block;
	height:42px;
	font-weight:bold;
	background:transparent url(../img/blueslate_background.gif) repeat-x top left;
	font-family:Arial,Verdana,Helvitica,sans-serif;
	text-transform:uppercase;
}

#header .blue #slatenav ul{
	margin:0px;
	padding:0;
	list-style-type:none;
	width:auto;
}

#header .blue #slatenav ul li{
	display:block;
	float:left;
	margin:0 1px 0 0;
}

#header .blue #slatenav ul li a{
	display:block;
	float:left;
	color:#D5F1FF;
	text-decoration:none;
	padding:14px 22px 0 22px;
	height:28px;
}

#header .blue #slatenav ul li a:hover,.blue #slatenav ul li a.current{
	color:#fff;
	background:transparent url(../img/blueslate_backgroundOVER.gif) no-repeat top center;
}
/* ---------------------- 头部导航条结束 ---------------------- */
#content {
    width:980px;
	height:600px;	
}
/* ---------------------- 左部侧边栏开始 ---------------------- */
#left {
    width:235px;
	height:595px;
	float:left;
	background-color:#FFF;
}

/*---------日历开始---------*/

#calendar table {
	width:210px;
	height:138px;
	margin-left:12px;
	border:1px solid #eee;
}

.top {
    padding-left:10px;	
}

td {
    width:30px;
	height:30px;
	text-align:center;	
}

.year,.month {
    width:51px;	
}

.c{
    width:15px;	
}

.f{
    background-color:#999;	
}

/*---------日历结束---------*/
/*---------最新留言开始---------*/
#new_words {
    width:205px;
	height:230px;
	margin-top:45px;
	margin-left:14px;
}

#new_words ul li {
    padding:5px 0px;
    font-size:12px;
}

#new_words ul li a,.words_title h6 a {
    color:#000;	
}

#new_words ul li a:hover,.words_title h6 a:hover {
    color:#03C;
	position:relative;
	top:1px;
	left:1px;	
}

.words_title {
    width:200px;
	height:20px;
	border-bottom:1px solid #000;
	color:#00F	
}

.words_title h5 {
    margin-top:2px;	
	color:#000;
}

.words_title h6 {
    float:right;
	margin-top:-14px;	
}

/*---------最新留言结束---------*/
/* ---------------------- 左部侧边栏结束 ---------------------- */
/* ---------------------- 右边内容页开始 ---------------------- */
#right {
    width:740px;
	height:595px;
	float:left;
	margin-left:5px;
	background-color:#FFF;	
}

/*--- 加载区 ---*/
#right .the_load {
    left: 300px;
    position: relative;
    top:280px;
}

#right .the_load2 {
    left: 240px;
    position: relative;
    top: 280px;
}
/*--- 加载区 ---*/

#right .article {
	height: 530px;
    padding: 10px;
    width: 720px;
}

#right .article h2 {
    color:#000;	
	padding-top:5px;
}

#right .article_con {
    border-bottom: 1px dotted #33FFFF;
    height: 225px;
    margin-left: 10px;
    padding-top: 10px;
    width: 700px;
}

#right .article_con_c {
	line-height:20px;
    height:210px;
    font-size:12px;
    margin-top:4px;
}

#right .article .article_con_show {
    float: right;
    font-size: 12px;
    margin: -35px 0 0;
}

#right .page {
    height: 30px;
    margin-top: -20px;
    text-align: center;
    width: 740px;
}

/* ---------------------- 右边内容页结束 ---------------------- */
/* ---------------------- 留言列表开始 ---------------------- */
#right .message {
    width:720px;
	height:550px;
	margin-left:10px;	
}

#right .message h1 {
    text-align:center;
	color:#000;
    font-weight:500;
    font-family:'微软雅黑','宋体',Arial;
}

#right .message ul li {
    padding:13px 20px;	
}

#right .message ul li a {
    font-size:14px;
	font-weight:600;	
}

#right .message ul li span {
    font-size:12px;	
}
/* ---------------------- 留言列表结束 ---------------------- */
/* ---------------------- 留言展示页面开始 ---------------------- */
#right .show {
    width:700px;
	height:550px;
	margin:0 auto;	
}

#right .show h2 {
    text-align:center;
	margin-top:10px;
	margin-bottom:30px;
	color:#00F;	
}

#right .show_article {
    font-size:16px;
	text-indent:37px;
	line-height:30px;
}

#right .show_article_con {
    height:490px;	
}

#right .show .show_article_show{
	float:right;
	font-size:18px;	
}
/* ---------------------- 留言展示页面结束 ---------------------- */
/* ---------------------- 个人资料页面开始 ---------------------- */
#right .idcard h3 {
    margin-top:20px;
	text-align:center;
	color:#000;	
}

#right .idcard .idcard_con {
    margin-top:100px;
	margin-left:200px;
	font-size:18px;
	font-weight:800;
	color:#666;	
}
/* ---------------------- 个人资料页面结束 ---------------------- */
/* ---------------------- 底部版权栏开始 ---------------------- */
#footer {
    width:980px;
	height:30px;
	clear:both;
	padding-top:10px;
	text-align:center;
	background-color:#fFF;	
}
/* ---------------------- 底部版权栏结束 ---------------------- */